.container{
    border: 1px solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container:hover{
    background: #ece8e8;
}
.nameBlock{
    display: flex;
    padding: 6px 0px;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

